<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
</head>
<body>
    <h1 style="text-align: center; color: #f00;">404,Not Page Found!</h1>
    <a href="/" style="display: block; text-align: center;">返回首页</a>
</body>
</html>