<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>归档</title>
    <link rel='stylesheet' href="./stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='./stylesheets/index.css' />
    <link rel="stylesheet" href="./stylesheets/archives.css">
</head>

<body>
    <%- include header %>
        <section>
            <div class="coll-wrap">
                <div class="collection">
                    <a href="">
                        <em>03-26</em>
                        <span>iScroll、swiper同时使用滑动触发链接跳转问题解决</span>
                    </a>
                </div>
                <div class="collection">
                    <a href="">
                        <em>03-26</em>
                        <span>iScroll、swiper同时使用滑动触发链接跳转问题解决</span>
                    </a>
                </div>
                <div class="collection">
                    <a href="">
                        <em>03-26</em>
                        <span>iScroll、swiper同时使用滑动触发链接跳转问题解决</span>
                    </a>
                </div>
                <div class="collection">
                    <a href="">
                        <em>03-26</em>
                        <span>iScroll、swiper同时使用滑动触发链接跳转问题解决</span>
                    </a>
                </div>
                <div class="collection">
                    <a href="">
                        <em>03-26</em>
                        <span>iScroll、swiper同时使用滑动触发链接跳转问题解决</span>
                    </a>
                </div>
                <div class="collection">
                    <a href="">
                        <em>03-26</em>
                        <span>iScroll、swiper同时使用滑动触发链接跳转问题解决</span>
                    </a>
                </div>
                <div class="collection">
                    <a href="">
                        <em>03-26</em>
                        <span>iScroll、swiper同时使用滑动触发链接跳转问题解决</span>
                    </a>
                </div>
            </div>
        </section>
</body>

</html>