<div id="comment">
    <div class="list">
            <p class="name">阿迷说：</p>
            <p class="comm-info">13131</p>
            <p class="time">2017年9月19日 09:43</p>
    </div>
    <div class="list">
            <p class="name">阿迷说：</p>
            <p class="comm-info">13131</p>
            <p class="time">2017年9月19日 09:43</p>
    </div>
    <div class="list">
            <p class="name">阿迷说：</p>
            <p class="comm-info">13131</p>
            <p class="time">2017年9月19日 09:43</p>
    </div>
    <div class="list">
            <p class="name">阿迷说：</p>
            <p class="comm-info">13131</p>
            <p class="time">2017年9月19日 09:43</p>
    </div>
    <div class="list">
            <p class="name">阿迷说：</p>
            <p class="comm-info">13131</p>
            <p class="time">2017年9月19日 09:43</p>
    </div>
    <div class="list">
            <p class="name">阿迷说：</p>
            <p class="comm-info">13131</p>
            <p class="time">2017年9月19日 09:43</p>
    </div>
</div>
