<header>
    <div class="container">
      <nav>
        <a href="/">首页</a>
        <a href="/login">登录</a>
        <a href="/register">注册</a>
        <a href="/post">发布文章</a>
      </nav>
    </div>
  </header>