<header>
    <div class="container">
      <div class="logo col-sm-3">

      </div>
      <nav class="col-sm-9">
        <div class="pull-right">
          <a href="/">首页</a>
          <a href="/post">发布文章</a>
      </div>
      </nav>
    </div>
  </header>