<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="method" method="POST">
        <input type="text" name="name" placeholder="请输入你的用户名">
        <br />        
        <input type="text" name="password" placeholder="请输入你的密码">
        <br />
        <input type="submit" value="登录">
    </form>
</body>
</html>