<!DOCTYPE html>
<html>

<head>
  <title>首页</title>
  <link rel='stylesheet' href="../stylesheets/bootstrap.min.css">
  <link rel='stylesheet' href='../stylesheets/index.css' />
</head>

<body>
  <%- include header %>
  <%- include section %>
</body>

</html>