<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form method="post">
        <input type="text" name="name" placeholder="请输入用户名">
        <br />
        <input type="password" name="password" placeholder="请输入密码">
        <br />
        <input type="password" name="password-repeat" placeholder="请再次输入密码">
        <br />
        <input type="submit" value="确认注册">
    </form>
</body>

</html>