    <section>
        <div id="bio">
          <div class="container">
            <div class="row">
              <div class="head-pic col-md-2 col-sm-3">
                <img src="../images/me.jpg" alt="">
              </div>
              <div class="intro-info col-md-10 col-sm-9">
                <h2>"木讷患者"</h2>
                <h2>"17届不在校学生"</h2>
                <h2>"多年后，做一个不漂的撒欢者"</h2>
              </div>
            </div>
          </div>
        </div>
        <div id="container">
          <div class="container">
            <div class="row">
              <div class="col-md-9">
                <div class="post-container">
                  
                  <!-- articleList -->
                  <%- include articleList %> 
  
                  <!-- 分页按钮 -->
                  <%- include pagination %>
                  
                </div>
              </div>
              <div class="col-md-3">
              </div>
            </div>
          </div>
        </div>
      </section>