.content-wrapper {
    max-width: 1000px;
    min-height: 800px;
    background: #f5f5d5;
    margin: 0 auto;
}

.content-wrapper h1.post-title {
    color: #555;
    font-size: 26px;
    text-align: center;
    word-break: break-word;
    font-weight: 300;
    padding: 30px 0;
}

.content-wrapper pre{
    overflow: auto;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    font-size: 13px;
    color: #4d4d4c;
    background: #f7f7f7;
    line-height: 1.6;
}
.content-wrapper pre code{
    padding: 0;
    color: #4d4d4c;
    background: none;
    text-shadow: none;
}
.content-wrapper pre code{
    font-size: 16px;
}
/* 评论区内容 */
#comment{
    width: 1000px;
    margin: 0 auto;
    background: #f5f5d5;
}
#comment .list{
    border-bottom: 1px dashed #ddd;
}
#comment p{
    padding: 20px;
}
#comment p.name{
    font-weight: 600;
}
#comment p.comm-info{
    padding-left: 30px;
}
#comment p.time{
    font-style: italic;
    text-align: right;
}