*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
/* 头部 */
header{
  height: 49px;
  overflow: hidden;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 777;
}
header .logo{
  height: 49px;
}
header nav a{
  line-height: 49px;
  color: #fff;
  font-weight: 500;
  padding: 8px 15px 8px 15px;
}
header nav a:hover{
  color: #fff;
}
/* 个人简介 */
section .bio{
  background: #DAE5EA;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 20px;
}
section .bio .container{
  height: 200px;
  overflow: hidden;
}
section .bio .container .head-pic{
  width: 165px;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
section .bio .container .head-pic img{
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
section .bio .container .intro-info h2{
  font-size: 16px;
  color: #6C8189;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  font-family: Droid Serif !important;
}
/* 内容 */
section{
  overflow: hidden;
  min-height: 900px;
  background: url('../images/bg.jpg');
  padding-top: 49px;
}
section .container{
  width: 1200px;
  margin: 0 auto;
  border-radius: 7px;
  -webkit-border-radius: 7px;  
}
@keyframes opacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
/* 文章分类 */
section .container .sort-content{
  width: 200px;
  height: 700px;
  background: #ddd;
}


/* 文章 */
section .container article{
  width: 845px;
  background-color: rgba(255, 255, 255, .6);
  border: 1px solid #ccc;
  border-top: none;  
  border-bottom: none;
  animation: opacity .77s;
  -webkit-animation: opacity .77s;
}
section .container article .title{
  padding-top: 30px;
  font-weight: 300;
  font-size: 26px;
  text-align: center;
}
section .container article .title a{
  color: #2C3E50;  
  transition: color .3s;
}
section .container article .title a:hover{
  color: #217DBB;
  transition: color .3s;
  text-decoration: none;
}
section .container .content p{
  text-indent: 2em;
  margin: 20px 100px;
  color: #555;
  line-height: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow : hidden;
}
section .container .read-all-detail{
  padding: 70px 100px;
  text-align: center;
}
section .container .read-all-detail a{
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  color: #555;
  font-size: 14px;
  padding: 0 20px;
  border: 2px solid #555;
  line-height: 2;
  background: #fff;
  border-radius: 2px;
  -webit-border-radius: 2px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
section .container .read-all-detail a:hover{
  background: #555;
  color: #fff;
}
section .container .end-line{
  margin: 0 auto 30px;
  width: 8%;
  height: 1px;
  background: #2c3e50;
}